.container {
    background-color: hsl(0, 0%, 86%);
}

.wrapper {
    padding: 4em 0;
}

.quote {
    min-height: 500px;
    padding: 4em 1.5em;      
}

.level {
    padding: 1em 2em;
}

.subtitle {
    padding-top: 10px;
}

@media only screen and (min-width: 1024px) {
    .wrapper {padding: 15em 0}
    .quote {min-height: 100%;}
    
}

/* Display  container in flex, row reverse, fixed height, so buttons will be fixed?*/
