.container {
    background-color: hsl(0, 0%, 86%)   
}

.quote {
    margin-top: 5em;
    height: 250px;
    padding: 1.5em;
    background-color: hsl(171, 100%, 41%);
      
}

.level {
    padding: 1em 2em;
}
